
.Login {
    margin-top: 10%;
}
.Login .TextField {
    margin: 0.7rem;
}

.Login input {
    color: #7CFC00;
    background-color: transparent;
}

.Login .TextField p{
    color: red
}

.Login form {
    color: #e3fc00;
}

