.AuthSelector {
	height: 100%;
    background-color: transparent;
    width: 100%;
    margin: auto;
    padding: auto;
    background-image: url("../../../assets/images/Enterprise.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
